/* Light theme */
.light-theme {
  --bg-color: #fff; /* Customize background color for light theme */
  --text-color: #1f1e1e; /* Customize text color for light theme */
}
/* Dark theme */
.dark-theme-1 {
  --text-color: #bbc5d3; /* Customize text color for dark theme */
  --bg-color: #1f3041; /* Customize background color for dark theme */
}

/* Dark theme */
.dark-theme {
  --bg-color: #1a2633; /* Customize background color for dark theme */
  --text-color: #c8d7dd; /* Customize text color for dark theme */
}

/* Apply theme to elements */
.all-countries-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding-bottom: 100px;
}
.each-country-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  height: 92vh;
}
.search {
  width: 320px;
  padding-right: 10px;
  padding-left: 40px;
  outline: 0;
}
.search:focus {
  outline: none;
  box-shadow: none;
}
.search-form {
  position: relative;
  display: flex;
  width: fit-content;
}
.filter-dropdown {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.navbar {
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.all-search-filter {
  padding-top: 28px;
  padding-bottom: 28px;
}
.country-flags {
  object-fit: cover;
  height: 160px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
}
.card-description {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 10px;
}
.card-description div {
  margin-top: 20px;
}
.card-description h5,
.card-description span {
  font-weight: bold;
  color: black;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.card-description h6 {
  font-weight: 400;
  color: gray;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.card-col {
  margin-bottom: 60px;
}
.custom-card {
  cursor: pointer;
  height: 350px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
  color: var(--text-color);
}
.custom-card:hover {
  scale: 1.05;
  transition: 0.5s;
}
.country-description {
  display: flex;
}
.each-country-flags {
  width: 350px;
  height: 250px;
  object-fit: contain;
}
.country-borders {
  display: flex;
}
.borders {
  display: flex;
}
.border {
  background-color: transparent;
  width: fit-content;
  padding: 2px 26px !important;
}
.back-button {
  display: flex;
  gap: 6px;
  width: 100px;
  align-items: center;
  justify-content: center;
}
.back-button svg,
.search-icon {
  width: 20px;
  height: 20px;
}
.search-button {
  position: absolute !important;
  left: 0; /* Adjust this value to move the button to the left */
  width: 40px;
  height: 40px;
  color: #1a2633;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  outline: 0;
}
.search-button:hover,
.search-button:active,
.search-button:focus {
  background-color: transparent !important;
  color: #1a2633 !important;
  scale: 1.2 !important;
  border: 0;
  outline: 0;
}

@media (max-width: 580px) {
  .country-description {
    display: block;
  }
  .country-borders {
    display: flex;
    flex-direction: column;
  }
}
